.openoutlet path {
    fill: rgba(144, 255, 110, 0.555);
}

.closedoutlet path {
    fill: rgba(255, 77, 64, 0.685);
}

.undefinedoutlet path {
    fill: orange;
}

.cryoon path {
    fill: rgba(36, 155, 252, 0.555);
}
.cryooff path {
    fill: rgba(46, 46, 46, 0.295);
}