

<div class="ui-g ui-widget">
  <div class="ui-g-12 ui-widget-header">
     Modbus
  </div>
  <div class="ui-g-12 ui-widget-content">
    <span #wagoOn></span>
  </div>
  <div class="ui-g-12 ui-widget-header">
      Pinnacle
   </div>
   <div class="ui-g-12 ui-widget-content">
      <span #pinnacleOneConnected></span>
      <br>
      <span #pinnacleTwoConnected></span>
   </div>
   <div class="ui-g-12 ui-widget-header">
      Evara Pump
   </div>
   <div class="ui-g-12 ui-widget-content">
      <span #evraConnected></span>
   </div>


</div>
